

@{
    ViewData["Title"] = "Profile";
}


<style>

    .time-label {
        font-size: 12px;
    }
</style>


<!-- Added from GitHub -->
<!-- Added from VS 2019 -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Candidate</h1>
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Candidate">Candidate</a></li>
                    <li class="breadcrumb-item"><a asp-action="Profile" asp-controller="Candidate">Profile</a></li>
                    @*<li class="breadcrumb-item active">Top Navigation</li>*@
                </ol>
            </div><!-- /.col -->
            <div class="col-sm-6 ">
                <a class="btn btn-dark float-right" asp-action="Index">Back to List</a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container">
        <hr />

        <div class="row">
            <div class="col-lg-4">
                <div class="card card-success card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="~/images/avatar.jpg" alt="">
                        </div>

                        <h3 id="profile-name" class="profile-username text-center"></h3>

                        <p id="profile-designation" class="text-muted text-center">Software Engineer</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b><span class="fas fa-envelope mr-1 text-success"></span> Email</b>
                                <a id="profile-email" class="float-right"></a>
                            </li>
                            <li class="list-group-item">
                                <b>&nbsp;<i class="fas fa-mobile-alt text-success"></i>&nbsp; Mobile</b>
                                <a id="profile-mobile" class="float-right"></a>
                            </li>
                            <li class="list-group-item">
                                <b><i class="fas fa-business-time text-success"></i> Experience</b>
                                <a id="profile-experience" class="float-right"></a>
                            </li>
                            <li class="list-group-item">
                                <b><i class="fas fa-map-marker-alt mr-1 ml-1 text-success"></i> Location</b>
                                <a id="profile-location" class="float-right"></a>
                            </li>
                        </ul>


                    </div>
                    <!-- /.card-body -->
                </div>




                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-book mr-1"></i> Experience</h5>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body bg-warning">
                        <h5 class="card-title"><i class="fas fa-pencil-alt mr-1"></i> Skills</h5>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <form id="frmCandidate" class="card">
                    <div class="card-header text-success">
                        <h5> Basic Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div data-cntrl-hdn>
                                <input id="Id" name="Id" type="hidden">
                                <input id="Created" name="Created" type="hidden">
                                <input id="LastUpdated" name="LastUpdated" type="hidden">
                                <input id="LoggedInAt" name="LoggedInAt" type="hidden">
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" data-cntrl>
                                    <label for="Name" class="control-label">Name</label>
                                    <input type="text" id="Name" name="Name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" data-cntrl>
                                    <label for="Email" class="control-label">Email</label>
                                    <input type="email" id="Email" name="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" data-cntrl>
                                    <label for="Mobile" class="control-label">Mobile</label>
                                    <input type="text" id="Mobile" name="Mobile" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" data-cntrl>
                                    <label for="ExpYear" class="control-label">Experience In Years</label>
                                    <input type="number" id="ExpYear" name="ExpYear" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" data-cntrl>
                                    <label for="ExpMonth" class="control-label">Experience In Months</label>
                                    <input type="number" id="ExpMonth" name="ExpMonth" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" data-cntrl>
                                    <label for="Location" class="control-label">Location</label>
                                    <input type="text" id="Location" name="Location" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="button" value="Save" class="btn btn-success" onclick="candManager.saveBasic()" />
                            <input type="button" value="Cancel" class="btn btn-secondary" />
                        </div>
                    </div>
                </form>


                <div class="card">
                    <div class="card-header text-success">
                        <div class="row">
                            <h5 class="col-lg-8">
                                Experiences
                            </h5>
                            <div class="col-lg-4">
                                <a href="javascript:void(0);" class="text-primary float-right" onclick="candManager.addExp(this)">Add <i class="fas fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        

                        <div class="timeline d-none">



                            @*<div class="time-label">
                                    <span class="bg-gradient-gray">10 Feb. 2014</span>
                                </div>
                                <div class="time-desc">
                                    <i class="fas fa-business-time bg-gradient-cyan"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-edit text-green"></i></span>
                                        <h2 class="timeline-header text-primary font-weight-bold" >Designation</h2>
                                        <div class="timeline-body">
                                            <span class="text-uppercase text-xs">Organization</span>
                                            <br />
                                            <small class="font-italic">JobProfile</small>
                                        </div>
                                        <div class="timeline-footer">
                                            <small class="font-italic">
                                                <i class="fas fa-clock"></i> Jan, 2015
                                            </small>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="time-label">
                                <i class="fas fa-clock bg-gradient-teal"></i>
                            </div>

                        </div>




                        <form id="frmExperience" class="d-none">
                            <div class="row">
                                <div data-cntrl-hdn>
                                    <input id="Id" name="Id" type="hidden">
                                    <input id="CandidateId" name="CandidateId" type="hidden">
                                    <input id="Created" name="Created" type="hidden">
                                    <input id="LastUpdated" name="LastUpdated" type="hidden">
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group" data-cntrl>
                                        <label for="Designation" class="control-label">Designation</label>
                                        <input name="Designation" id="Designation" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" data-cntrl>
                                        <label for="Organization" class="control-label">Organization</label>
                                        <input name="Organization" id="Organization" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group form-check" data-cntrl>


                                        <label class="control-label">&nbsp;</label>
                                        <br />

                                        <div class="icheck-primary d-inline">
                                            <input class="form-check-input" id="IsCurrent" name="IsCurrent" type="checkbox" />
                                            <label for="IsCurrent"> Is Current</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" data-cntrl>
                                        <label for="StartYear" class="control-label">Start Year</label>
                                        <input type="number" id="StartYear" name="StartYear" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" data-cntrl>
                                        <label for="StartMonth" class="control-label">Start Month</label>
                                        <input type="number" id="StartMonth" name="StartMonth" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" data-cntrl>
                                        <label for="EndYear" class="control-label">End Year</label>
                                        <input type="number" id="EndYear" name="EndYear" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" data-cntrl>
                                        <label for="EndMonth" class="control-label">End Month</label>
                                        <input type="number" id="EndMonth" name="EndMonth" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" data-cntrl>
                                        <label for="CurrentSalary" class="control-label">Salary</label>
                                        <input type="number" id="CurrentSalary" name="CurrentSalary" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" data-cntrl>
                                        <label for="NoticePeriod" class="control-label">Notice Period</label>
                                        <input type="number" id="NoticePeriod" name="NoticePeriod" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group" data-cntrl>
                                        <label for="JobProfile" class="control-label">Describe Profile</label>
                                        <textarea id="JobProfile" name="JobProfile" class="form-control"></textarea>
                                    </div>
                                </div>


                            </div>
                            <div class="form-group">
                                <input type="button" value="Save" class="btn btn-success" onclick="candManager.saveExpereince()" />
                                <input type="button" value="Cancel" class="btn btn-secondary" onclick="candManager.cancelExpereince()" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

            <script type="text/javascript">


                var id = 0;


                $('#frmCandidate').validate({
                    rules: {
                        //email: {
                        //    required: true,
                        //    email: true,
                        //},
                        //password: {
                        //    required: true,
                        //    minlength: 5
                        //},
                        Location: {
                            required: true
                        },
                    },
                    messages: {
                        //email: {
                        //required: "Please enter a email address",
                        //email: "Please enter a vaild email address"
                        //},
                        //password: {
                        //required: "Please provide a password",
                        //minlength: "Your password must be at least 5 characters long"
                        //},
                        Location: {
                            required: "Please enter the Location"
                        },
                    },
                    errorElement: 'span',
                    errorPlacement: function (error, element) {
                        error.addClass('invalid-feedback');
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-invalid');
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).removeClass('is-invalid');
    }
                });



                $(document).ready(() => {

                    candManager.init();

                });


                var candManager = (() => {


                    var init = async () => {

                        viewManager.init({
                            eleContainer: '#frmCandidate'
                        });


                        if (window.location.href.split('/').indexOf('Edit') >= 0) {

                            id = window.location.href.slice(-1);

                            await loadData(id);
                        }

                    }




                    var resetBasic = () => {


                    }

                    var saveBasic = () => {

                        var data = viewManager.getFormData('#frmCandidate');

                        if (data) {

                            $.post('@Url.Action("BasicDetails")', data)
                                .done((res) => {

                                    if (res.isSuccess) {

                                        toastr.success('Saved', 'Saved successfully');
                                    }
                                    else {
                                        toastr.error('Error', 'Failed to save');
                                    }

                                }).fail(() => {

                                    toastr.error('Error', 'Failed to save');

                                })
                        }
                        else {
                            toastr.error('Error', "Couldn't find data to save");
                        }
                    }


                    var loadData = async (id)=> {

                        await Promise.all([
                            getBasicDetails(id),
                            getExperiences(id)
                        ]);

                    }

                    var getBasicDetails = async (id) => {

                        $.get(`@Url.Action("GetBasicDetails")/${id}`)
                            .done((candidate) => {

                                viewManager.setFormData('#frmCandidate', candidate);

                                $('#profile-name').text(candidate.name);
                                $('#profile-email').text(candidate.email);
                                $('#profile-mobile').text(candidate.mobile);
                                $('#profile-experience').text(candidate.expYear + ' years, ' + candidate.expMonth + ' months');
                                $('#profile-location').text(candidate.location);


                            }).fail(() => {

                            })

                    }

                    var getExperiences = async (id) => {

                        $.get(`@Url.Action("GetExperiences")/${id}`)
                            .done((jobExperiences) => {

                                if (jobExperiences.length > 0) {

                                    $(jobExperiences).each((i, exp) => {

                                        //--------------------END DATE--------------------//
                                        const $spanEndDate = $('<span/>', { class: 'bg-gradient-gray', text: general.mnthYearName(exp.endMonth, exp.endYear) })
                                        const $divLabel = $('<div/>', { class: 'time-label' });

                                        $divLabel.append($spanEndDate);


                                        //--------------------ICON--------------------//
                                        const $icon = $('<i/>', { class: 'fas fa-business-time bg-gradient-cyan' });

                                        //--------------------HEADER--------------------//
                                        const $spanEdit = $('<span/>', { class: 'time', html: '<i class="fas fa-edit text-green"></i>' });
                                        const $design = $('<h2/>', { class: 'timeline-header text-primary font-weight-bold', text: exp.designation });


                                        //--------------------BODY--------------------//
                                        const $Org = $('<span/>', { class: 'text-uppercase text-xs', text: exp.organization });
                                        const $jobprofile = $('<small/>', { class: 'font-italic', text: exp.jobProfile });
                                        const $divBody = $('<div/>', { class: 'timeline-body' });

                                        $divBody.append($Org);
                                        $divBody.append($('<br />'));
                                        $divBody.append($jobprofile);


                                        //--------------------FOOTER--------------------//
                                        const $StartDate = $('<small/>', { class: 'font-italic', html: `<i class="fas fa-clock"></i> ${general.mnthYearName(exp.startMonth, exp.startYear)}` });
                                        const $divFooter = $('<div/>', { class: 'timeline-footer' });


                                        $divFooter.append($StartDate);


                                        const $divitem = $('<div/>', { class: 'timeline-item' });
                                        $divitem.append($spanEdit);
                                        $divitem.append($design);
                                        $divitem.append($divBody);
                                        $divitem.append($divFooter);


                                        const $divDesc = $('<div/>', { class: 'time-desc' });

                                        $divDesc.append($icon);
                                        $divDesc.append($divitem);


                                        $('.timeline').prepend($divDesc);
                                        $('.timeline').prepend($divLabel);


                                        //<div class="time-label">
                                        //    <span class="bg-gradient-gray">10 Feb. 2014</span>
                                        //</div>
                                        //<div class="time-desc">
                                        //    <i class="fas fa-business-time bg-gradient-cyan"></i>
                                        //    <div class="timeline-item">
                                        //        <span class="time"><i class="fas fa-edit text-green"></i></span>
                                        //        <h2 class="timeline-header text-primary font-weight-bold" >Designation</h2>
                                        //        <div class="timeline-body">
                                        //            <span class="text-uppercase text-xs">Organization</span>
                                        //            <br />
                                        //            <small class="font-italic">JobProfile</small>
                                        //        </div>
                                        //        <div class="timeline-footer">
                                        //            <small class="font-italic">
                                        //                <i class="fas fa-clock"></i> Jan, 2015
                                        //            </small>
                                        //        </div>
                                        //    </div>
                                        //</div>


                                    });


                                    $('.timeline').removeClass('d-none');
                                }


                            }).fail(() => {

                            })

                    }


                    var addExp = (btn) => {
                        $(btn).hide();
                        $('#frmExperience').removeClass('d-none');
                    }


                    var saveExpereince = () => {

                        var data = viewManager.getFormData('#frmExperience');

                        data.CandidateId = id;

                        if (data) {

                            $.post('@Url.Action("Experience")', data)
                                .done((res) => {

                                    if (res.isSuccess) {

                                        toastr.success('Saved', 'Saved successfully');
                                        
                                        $(btn).show();
                                        $('#frmExperience').addClass('d-none');
                                    }
                                    else {
                                        toastr.error('Error', 'Failed to save');
                                    }


                                }).fail(() => {

                                    toastr.error('Error', 'Failed to save');

                                })
                        }
                        else {
                            toastr.error('Error', "Couldn't find data to save");
                        }
                    }

                    var cancelExpereince = () => {                        
                        $('#frmExperience').addClass('d-none');
                    }

                    return {
                        init: init,
                        resetBasic: resetBasic,
                        saveBasic: saveBasic,
                        addExp: addExp,
                        saveExpereince: saveExpereince,
                        cancelExpereince : cancelExpereince
                    }


                })();


            </script>

        }
    </div>
</div>
<!-- /.Content -->
